<%= stylesheet_link_tag "application" %>
<%= button_to 'Log out', logout_path, method: 'delete' %>
<h1>Time slots Avalailable</h1>
<% slot_list.each do |slot_list_by_day| %>

    <h3><%= slot_list_by_day.day %></h3>

    <% slot_list_by_day.slot_list.each do |slot| %>

        <div class="slot">
            
            <div class="time-slot">
               
                <span><%= slot.start_time.hour %></span>:<span><%= '%02d' % slot.start_time.min %></span>
                -
                <span><%= slot.end_time.hour %></span>:<span><%= '%02d' % slot.end_time.min %></span>

            </div>
             
            <div class="<%= slot.is_appointment ? 'hidden' : '' %>">
                <%= button_to 'Create an appointment', create_appointment_path(:start => slot.start_time, :end => slot.end_time), method: 'post' %>
            </div>

            <div class="slot-buttons <%= slot.is_appointment ? '' : 'hidden' %>">
                <a href="<%= slot.link %>">Link to the waiting room</a>
                <%= button_to 'Cancel the appointment', cancel_appointment_path(:id => slot.appointment_id), method: 'delete' %>
            </div>

            <br/>

        </div>
                
    <% end %>
    
<% end %>